body {
    background-color: #121212;
    color: #ffffff;
    font-family: 'Roboto Mono', monospace;
  }
  
  blockquote {
    background: rgba(0, 0, 0, 0.3);
    border-left: 5px solid #00ffae;
    color: #d1d1d1;
    padding: 20px;
    margin: 20px 0;
    font-weight: 300;
  }

  #hash-generator {
    background-color: #1a1a1a; /* Dark background */
    border-radius: 15px; /* Rounded corners */
    padding: 20px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
    max-width: 400px; /* Adjust based on your layout */
    margin: 20px auto; /* Centering the card */
    text-align: center; /* Aligns content to the center */
  }
  
  
  #hash-generator button {
    background-color: #4CAF50; /* Vibrant green background */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px; /* Rounded corners */
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s; /* Smooth transition for hover effects */
    font-size: 1em;
  }
  
  #hash-generator button:hover {
    background-color: #3e8e41; /* Darker shade on hover */
    transform: translateY(-2px); /* Slight lift on hover */
  }
  
  
  #random-hash-display {
    background-color: rgba(255, 255, 255, 0.1);
    color: #a9a9a9;
    padding: 10px;
    margin-top: 10px;
    font-family: 'Space Mono', monospace;
  }
  
  @media screen and (max-width: 768px) {
    #hash-generator {
      max-width: 90%;
      padding: 15px;
    }
  
    #hash-generator button {
      padding: 8px 15px;
      font-size: 0.9em;
    }
  }
  